<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.1) 50%), url('../../assets/background.jpg');">
  <div class="banner-content">
    <h1>The Cooler</h1>
    <p>The party begins</p>
    <a  href="/cocktails" class="btn btn-primary btn-lg">Let's have a drink</a>
  </div>
</div>


