<div class="text-center">
<h1>Show</h1>


<div class="text-center">
<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    <% end %>

</ul>

<%= link_to "Return to cocktail list", cocktails_path, class: "btn btn-info" %>
</div>
</div>


